* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f2f5;
}

.list-container {
  width: 40%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  height: auto;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bi-journal-text {
  font-size: 5rem;
  color: rgb(29, 125, 185);
  margin: 15px auto;
}

#list-heading {
  font-size: 1.9rem;
  color: rgba(74, 71, 71, 0.747);
  font-weight: 900;
  margin-bottom: 10px;
}

#full-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#todo-form {
  width: 90%;
}

#input-list {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid gray;
}

#input-list::placeholder {
  padding-left: 10px;
  font-size: 15px;
}

ul li {
  position: relative;
  list-style: none;
  width: 90%;
  font-size: 15px;
  height: 38px;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid gray;
  margin-top: 10px;
}

.checkbox {
  margin-right: 20px;
  cursor: pointer;
}

.editIcon {
  position: absolute;
  font-size: 1.2rem;
  right: 40px;
  cursor: pointer;
}

.deleteIcon {
  position: absolute;
  font-size: 1.2rem;
  right: 5px;
  cursor: pointer;
}

#edit-form {
  outline: none;
  border: none;
}

.edit-list {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

#clear-btn {
  width: 100%;
  padding: 12px;
  background-color: rgb(186, 185, 185);
  font-size: 20px;
  border: none;
  cursor: pointer;
}

span {
  margin-left: 15px;
  font-size: 20px;
}

.today-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  width: 90%;
}

.white-height {
  display: flex;
  min-height: 4rem;
}

.no-outline {
  padding: 0 1rem;
}

.no-outline:focus {
  outline: none;
}

.no-outline::placeholder {
  font-style: italic;
}
